.wordCarousel {
    div {
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        padding-top: 10px;
        margin-top: -10px;
        span {
            padding: 0 10px;
            height: 45px;
            margin-bottom: 45px;
            display: block;
        }
    }
  }
  
  .flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
  .flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
  .flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
  
  @keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
  }
  
  @keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
  }
  
  @keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
  }

 
 .container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 
   .box {
     position: relative;
     display: flex;
     justify-content: center;
     flex-direction: column;
 
     .title {
       width: 100%;
       position: relative;
       display: flex;
       align-items: center;
       height: 50px;
 
       .block1 {
         width: 0%;
         height: inherit;
         background: #ffb510;
         position: absolute;
         animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
         display: flex;
       }
       .block2 {
        width: 0%;
        height: inherit;
        background: 	#00FFFF;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
      }
      .block3 {
        width: 0%;
        height: inherit;
        background: 		#28FF28;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
      }
      .block4 {
        width: 0%;
        height: inherit;
        background: 	#FF359A;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
      }
      .block5 {
        width: 0%;
        height: inherit;
        background: 	#FFFFFF;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
      }
 
       h1 {
         color: #fff;
         font-size: 32px;
         -webkit-animation: mainFadeIn 2s forwards;
         -o-animation: mainFadeIn 2s forwards;
         animation: mainFadeIn 2s forwards;
         animation-delay: 1.6s;
         opacity: 0;
         display: flex;
         align-items: baseline;
         position: relative;
 
         span {
           width:0px;
           height: 0px;
           -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
           border-radius: 50%;
 
           background: #ffb510;
           -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
           animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
           animation-delay: 2s;
           margin-left: 5px;
           margin-top: -10px;
           position: absolute;
           bottom: 13px;
           right: -12px;
 
         }
       }
     }
 
     .role {
       width: 100%;
       position: relative;
       display: flex;
       align-items: center;
       height: 30px;
       margin-top: -10px;
 
       .block {
         width: 0%;
         height: inherit;
         background: #e91e63;
         position: absolute;
         animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
         animation-delay: 2s;
         display: flex;
       }
 
       p {
         animation: secFadeIn 2s forwards;
         animation-delay: 3.2s;
         opacity: 0;
          font-weight: 400;
         font-family: 'Lato';
         color: #ffffff;
         font-size: 12px;
         text-transform: uppercase;
         letter-spacing: 5px;
       }
     }
   }
 }
 
 
 
 
 
 @keyframes mainBlock {
   0% {
     width: 0%;
     left: 0;
   }
   50% {
     width: 100%;
     left: 0;
 
   }
   100% {
     width: 0;
     left: 100%;
   }
 }
 
 @keyframes secBlock {
   0% {
     width: 0%;
     left: 0;
 
   }
   50% {
     width: 100%;
     left: 0;
 
   }
   100% {
     width: 0;
     left: 100%;
   }
 }
 
 @keyframes mainFadeIn {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
 
 
 @keyframes popIn {
   0% {
     width: 0px;
     height: 0px;
     background: #e9d856;
     border: 0px solid #ddd;
     opacity: 0;
   }
   50% {
     width: 10px;
     height: 10px;
     background: #e9d856;
     opacity: 1;
     bottom: 45px;
   }
    65% {
       width: 7px;
     height: 7px;
       bottom: 0px;
       width: 15px
    }
    80% {
       width: 10px;
     height: 10px;
       bottom: 20px
    }
   100% {
     width: 7px;
     height: 7px;
     background: #e9d856;
     border: 0px solid #222;
     bottom: 13px;
   }
 }
 
 @keyframes secFadeIn {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 0.5;
   }
 }
  
  
  